<div class="row jobs-show">
  <div class="col-md-12 col-lg-10 col-lg-offset-1">
    <div class="pull-right">
      <% if user_signed_in? && !current_user.admin?  %>
        <% if current_user && current_user.has_applied?(job) %>
          <%= link_to("Delivered", new_job_resume_path(job), class: "btn btn-info btn-sm disabled", method: :get) %>
        <% else %>
          <%= link_to("Deliver", new_job_resume_path(job), class: "btn btn-info btn-sm", method: :get) %>
        <% end%>
        <%else%>
        <% if current_user && current_user.has_applied?(job) %>
          <%= link_to("Delivered", new_job_resume_path(job), class: "btn btn-info btn-sm disabled", method: :get) %>
        <% else %>
          <%= link_to("Deliver", new_job_resume_path(job), class: "btn btn-info btn-sm", method: :get) %>
        <% end%>
    <% end %>
    </div>



    <div class="row">
     <div class="col-md-6">
       <span style="font-size:1.3em"></i> <%= link_to(job.title, job_path(job)) %></span>
     </div>
   </div>

   <div class="row" style="margin-top:10px;">
     <div class="col-md-3">
       <span style="font-size:1em;"><i class="fa fa-handshake-o"></i> company：<%= job.company %></span>
     </div>

     <div class="col-md-3">
       <span class="badge badge-info">
         salary： <span style="font-size:1em;"class="fa fa-rmb"></span><%= job.wage_lower_bound %> - <%= job.wage_upper_bound %> RMB
       </span>
    </div>
    <div class="col-md-3">
      <span style="font-size:1em;"><i class="fa fa-envelope-open-o"></i> contact_email：<%= job.contact_email %></span>
    </div>
   </div>

   <div class="row" style="margin-top:5px;">
     <div class="col-md-3">
       <span style="font-size:1em;"><i class="fa fa-location-arrow" aria-hidden="true" style="color: black;"></i> city：<%= job.city %></span>
     </div>
     <div class="col-md-3">
       <span style="font-size:1em;"><i class="fa fa-clock-o" aria-hidden="true"></i><%= time_ago_in_words(job.created_at) %> ago</span>
     </div>
   </div>
   <hr>
   <!--分页区块 -->
  </div>
</div>
