<div class="pull-right">
  <%= link_to("新增职位", new_job_path, :class => "btn btn-default" ) %>
</div>

<table class="table table-boldered">
  <% @jobs.each do |job| %>
  <tr>

    <td>
      <%= link_to(job.title, job_path(job)) %>
    </td>
    <td>
      <%= link_to("编辑", edit_job_path(job)) %> |
      <%= link_to("删除", job_path(job), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= job.created_at %>
    </td>
  </tr>
  <% end %>
</table>
