<!DOCTYPE html>
<html>
<head>


</head>

<body>

 <div class="center hero-unit" style="background: url('http://ww3.sinaimg.cn/large/006tNbRwgy1fev6acoih7j31hc0xqwu3.jpg');background-repeat:no-repeat;">
   <div class="container index-words">

    <h2 class="text-center" style = "color:#673AB7" >Welcome to the Gournet</h2>

    <br><br>

 </div>
 </div>


 <div class="container-fluid">
  <div class="col-md-12 col-md-offset-1 col-lg-8 col-lg-offset-2">
    <div class="col-md-12">
      <ul class="nav nav-tabs nav1" role="tablist" id="myTab">
        <li role="presentation" class="active"><a href="<% link_to(jobs_path) %>" role="tab" data-toggle="tab">Home</a></li>
         <li role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                sort <span class="caret"></span>
              </a>
           <ul class="dropdown-menu">
             <li role="presentation"><%= link_to("order by created_at", jobs_path(:order => "created_at")) %></li>
             <li role="presentation"><%= link_to("order by wage_upper_bound", jobs_path(:order => "by_upper_bound")) %></li>
             <li role="presentation"><%= link_to("order by wage_lower_bound", jobs_path(:order => "by_lower_bound")) %></li>
           </ul>
         </li>
      </ul>
    <% @jobs.each do |job| %>
     <div class="row">
     <div class="col-md-12 col-md-offset-10">
       <% if current_user && current_user.has_applied?(job) %>
         <%= link_to("Delivered", new_job_resume_path(job), class: "btn btn-danger btn-sm disabled",  method: :get) %>
     <% else %>
         <%= link_to("Deliver", new_job_resume_path(job), class: "btn btn-info btn-sm",method: :get) %>
      <% end %>
    </div>
  </div>


       <div class="row">
        <div class="col-md-6">
          <span style="font-size:1.3em"><%= link_to(job.title, job_path(job)) %></span>
        </div>
      </div>

      <div class="row" style="margin-top:10px;">
        <div class="col-md-3">
          <span style="font-size:1em;"><i class="fa fa-handshake-o"></i> company：<%= job.company %></span>
        </div>
        <div class="col-md-3">
          <span class="badge badge-info">
            salary： <span style="font-size:1em;"class="fa fa-rmb"></span><%= job.wage_lower_bound %> - <%= job.wage_upper_bound %> RMB
          </span>
       </div>
       <div class="col-md-3">
         <span style="font-size:1em;"><i class="fa fa-envelope-open-o"></i> contact_email：<%= job.contact_email %></span>
       </div>
      </div>


      <div class="row" style="margin-top:5px;">
        <div class="col-md-3">
          <span style="font-size:1em;"><i class="fa fa-location-arrow" aria-hidden="true" style="color: black;"></i> city：<%= job.city %></span>
        </div>
        <div class="col-md-3">
          <span style="font-size:1em;"><i class="fa fa-clock-o" aria-hidden="true"></i><%= time_ago_in_words(job.created_at) %> ago</span>
        </div>
      </div>
      <hr>

    <% end %>
    </div>
  </div>
</div>



<!--分页区块 -->
<div class="text-center">
  <%= will_paginate @jobs,renderer: BootstrapPagination::Rails %>
</div>

</body>
</html>
