<!-- <div class="job">
       <%= link_to("新增职位", new_admin_job_path, class: "btn btn-info pull-right action-btn") %>
</div> -->

<br><br>
<% if @jobs.length > 0 %>
<table class="table table-boldered table-striped custab" >

    <thead>
        <tr>
            <td>
                Title
            </td>

            <td>
              Resume counts
            </td>
            <td>
              Salary
            </td>

            <td>
                Manage
            </td>
            <td>
                Data Time
            </td>
        </tr>
    </thead>

    <% @jobs.each do |job| %>
    <tr class="job-list">

        <td>
            <%= render_job_status(job) %>

            <%= link_to(job.title, admin_job_path(job)) %>
        </td>
        <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
        <td> <%= job.wage_lower_bound %> - <%= job.wage_upper_bound %> RMB </td>

        <td>
           <%= link_to edit_admin_job_path(job), :class => "btn btn-xs btn-info" do %>
           <span class="fa fa-pencil"></span>
           <% end %>
           <% if job.is_hidden %>
             <%= link_to admin_job_path(job, status: "publish"), :method => :patch, :class => "btn btn-xs btn-success" do %>
             <span class="fa fa-eye"></span>
             <% end %>
           <% else %>
             <%= link_to admin_job_path(job, status: "hide"), :method => :patch,  :class => "btn btn-xs btn-warning" do %>
             <span class="fa fa-eye-slash"></span>
            <% end %>
           <% end %>
           <%= link_to("Delete", admin_job_path(job), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>
        </td>

        <td>
              <%= job.created_at.strftime("%Y-%m-%d") %>
        </td>
    </tr>
    <% end %>
</table>
<% else %>
 <h3 class="no-data">You don't have a release position.</h3>
 <% end %>

<div class="text-center">
     <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
</div>
